* {
    box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  

}


.main {
  padding: 15px;
  width: 100%;
  float: left;
  grid-column: 1 / 1;
  grid-row: 1;
}
.covert {
  padding: 15px;
  width: 100%;
  float: left;
  grid-column: 1 / 1;
  grid-row: 2;
}

body {
  margin:0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  text-align: center;
 
  color: black;
}
h1 {
  font-size: 9em;
  color: black;
  
    font-family: 'Quicksand', sans-serif;

    padding: 0.3em;
    font-weight: 700;
}
p {
  font-size: 1.2em;
  line-height: 2em;
  
  font-weight:200;
  font-family: 'Raleway', sans-serif;
}
.btn {
  display: inline-block;
  font-weight: 700;
  background-color: #EC1C23;
  color: white;
  font-weight: 200;
  font-size: 1.5em;
}
.btn:hover {
  background-color:#6ad103;
  color: white;
  text-shadow: 0 0 10px;
  box-shadow: 0px 0px 2px #6ad103;
}
.form-control {
  border: 1px solid black;
  text-align: center;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  display: inline-block;
  width: 60%;
  height: 2em;
  margin: 1em 0 2.3em 0;
}
.form-control:focus {
  border: 1px solid #1465AB;
  border-color: #1465AB;
}